--swiftversion 6.0
--trailingCommas never
--maxwidth 120
--indent 4
--wraparguments before-first
--wrapcollections before-first
--allman false
--disable wrapMultilineStatementBraces

--exclude Packages/JellyseerrAPI/Sources/JellyseerrAPI/Generated
--exclude Packages/JellyseerrAPI/.build
